* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #060918;

}

/* Loading */

#loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes loader {
    0% {
        left: -100px
    }

    100% {
        left: 110%;
    }
}

#box {
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}

/* NAVBAR */

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #060918;
    backdrop-filter: blur(10px);
    z-index: 101;
    transition: background-color 0.3s ease-in-out;
}

#main-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav li {
    margin: 0 10px;
}

#main-nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

#main-nav a.active {
    font-weight: bold;
}

.navbar {
    background-color: #060918 !important;
}

.nav-container {
    font-size: 21px;
}

.mr-10 {
    margin-right: 10px;
}

.nav-h {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-h:hover {
    background-color: #ffffff;
}

.text-dark {
    color: #343a40;
}

/* HOME */

#home {
    width: 1366px;
    height: 768px;
}

.wd-en-text {
    font-size: 120px;
}

.text-center {
    text-align: center;
}

.text-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dig-button {
    background-color: #fff;
    color: #060918;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.dig-button:hover {
    background-color: #060918;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff2525;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    animation: slideIn 1s ease-in-out forwards;
}

.bmc {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    transition: transform 0.3s ease;
}

.bmc:hover {
    transform: scale(1.1);
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* ABOUT */

.about-content {
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.subheader {
    font-size: 18px;
    transition: color 0.3s ease;
}

.text-justify {
    text-align: justify;
}

.nav-h:hover {
    color: #000;
}

.animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    overflow: hidden;
    position: relative;
}

.text-animation {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.slide-out {
    opacity: 0;
    transform: translateY(-100%);
}

.slide-in {
    opacity: 1;
    transform: translateY(0%);
}

/* PROJECTS */

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.custom-card {
    background-color: #111527;
    color: #ffffff;
}

.card-buttons a.btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.3s ease;
    padding: 10px 20px;
    margin-right: 10px;
}

.card-buttons a.btn:hover {
    background-color: #fff;
    color: #000;
}

/* SERVICES */

.card {
    background-color: #111527;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 100%;
}

.card-icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    line-height: 1.5;
}

/* CONTACT */

.contact-content .contact-info:hover {
    color: #dd1818 !important;
}

.svg-image {
    width: 200px;
    height: 200px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer-middle a {
    margin: 0 5px;
}

.footer-right {
    margin-left: auto;
}

.footer-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    margin-right: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    position: relative;
}

.footer-nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.footer-nav a:hover::after {
    transform: scaleX(1);
}

.white-line-separator {
    border-top: 1px solid white;
}

@media (min-width: 1024px) {
    .desktop-dnone {
        display: none;
    }
}

/* Mobile View */

@media (max-width: 767px) {

    .mobile-dnone {
        display: none;
    }

    /* NAV */
    #main-nav a {
        padding: 0;
    }

    .ms-5 {
        margin: 0 !important;
    }

    .burger {
        display: none;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background: #fff;
        margin: 5px;
        transition: all 0.5s ease;
    }

    @media only screen and (max-width: 760px) {

        .nav-links {
            position: absolute;
            right: 0;
            top: 7vh;
            min-height: 93vh;
            background: #060918;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            margin: 0;
            padding: 0;
            transform: translateX(100%);
            transition: All 0.5s ease-in;
        }

        .nav-links a {
            opacity: 0;

        }

        .burger {
            display: block;
        }

    }

    @media only screen and (max-width: 640px) {
        nav {
            justify-content: space-between;
            padding: 0 5vw;
        }
    }

    .nav-active {
        transform: translateX(0);
    }

    @media only screen and (max-width: 460px) {
        .nav-links {
            width: 100%;
            transition: All 0.5s ease;
        }
    }

    .nav-active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }



    /* HOME */

    .wd-en-text {
        font-size: 45px;
    }

    #home {
        width: 390px;
        height: 400px;
    }

    #about {
        width: 390px;
    }

    #footer {
        width: 390px;
    }

    .contact-content {
        justify-content: center;
        text-align: center !important;
        align-items: center;
    }

    .mobile-sci {
        margin-left: 120px;
        align-items: center;
    }

    .ml-mobile {
        margin-left: 85px;
    }

    .ml-80 {
        margin-left: 80px;
    }

    .ml-30 {
        margin-left: 30px;
    }

    .ml-15 {
        margin-left: 15px;

    }

    .ml-113{
        margin-left: 113px;
    }
}